<launch>

    <!--===== Kobuki base =====-->
    <arg name="urdf_file" default="$(find xacro)/xacro '$(find tbot_description)/urdf/tbot.urdf.xacro'" />
    <param name="robot_description" command="$(arg urdf_file)" />
    <include file="$(find kobuki_node)/launch/minimal.launch"/>
    <node pkg="tf" type="static_transform_publisher" name="base_link_in_base_footprint"
    args="0.0 0.0 0.1 0.0 0.0 0.0 /base_footprint /base_link 80" />

    <!--===== Laser ======-->
    <node name="robot_scan" pkg="urg_node" type="urg_node" >
        <param name="frame_id" value="laser_link"/>
        <param name="angle_min" value="-1.6"/>
        <param name="angle_max" value="1.6"/>
    </node>
    <node pkg="tf" type="static_transform_publisher" name="laser_in_base_link"
    args="0.2 0.0 0.05 0.0 0.0 0.0 /base_link /laser_link 80" />

    <!--===== Realsense =====--> 
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="align_depth" value="true" />
    </include>

    <node pkg="tf" type="static_transform_publisher" name="camera_in_base_link"
    args="0.2 0.0 0.1 0.0 0.0 0.0 /base_link /camera_link 80" />

    <!-- ===== VISION ===== -->
    <node pkg="grp-violet" name="vision" type="vision.py" output="screen" />
    <node pkg="grp-violet" name="marker" type="marker.py" />

    <!--===== visualisation =====-->

    <node pkg="rqt_graph" type="rqt_graph" name="graph"> </node>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find grp-violet)/rviz/rviz_config_mapping.rviz" />

    <!--===== Gmapping =====-->
    <node pkg="gmapping" type="slam_gmapping" name="mapping_node" args="scan:=scan">
    </node>

    <!--===== move_base =====-->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find grp-violet)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find grp-violet)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />   
        <rosparam file="$(find grp-violet)/param/local_costmap_params.yaml" command="load" />   
        <rosparam file="$(find grp-violet)/param/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find grp-violet)/param/dwa_local_planner_params.yaml" command="load" />
        <rosparam file="$(find grp-violet)/param/move_base_params.yaml" command="load" />
        <rosparam file="$(find grp-violet)/param/global_planner_params.yaml" command="load" />
        <rosparam file="$(find grp-violet)/param/navfn_global_planner_params.yaml" command="load" />
        <remap from="/cmd_vel" to="mobile_base/commands/velocity"/>
    </node>


</launch>
