<launch>

    <!-- ====== rosbag play ====== -->
    <node pkg="rosbag" type="play" name="rosbag" args="$(find larm1_slam)/map/turtlebot_dia.bag">
    </node>

    <!-- ===== NAVIGATION ===== -->
    <node pkg="gmapping" type="slam_gmapping" name="gmapping_node" >
        <remap from="base_scan" to="scan"/>
    </node>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find stage_ros)/rviz/stage.rviz">
    </node>
</launch>